<% javascript 'webtest' %>


<h4>Test Plans</h4>
<%= raw htmltable_for @test_plans, { :html_class => 'spacer', :actions => { :show => true} } %>

<h4>Test Cases</h4>
<%= raw htmltable_for @test_cases, { :html_class => 'spacer', :actions => { :show => true} } %>

<ul>
  <li><%= link_to 'New test case', new_test_case_path %></li>
  <li><%= link_to 'New test plan', new_test_plan_path %></li>
</ul>

<%= render partial: 'shared/recent_test_executions' %>