<% javascript 'webtest' %>

<h3>Webtests</h3>

<div class="panel panel-default">
  <div class="panel-body">

    <%= form_tag(test_plans_path, method: 'post', class: "form-horizontal", role: 'form') do %>
        <%= raw htmlform_for @test_plan, {:nested => true, :only => [:name, :description], :caption => 'Create new test plan' } %>

        <h4>Attach test items</h4>

        <div class="form-group">
          <label class="col-md-4 control-label">Suites</label>
          <div class="col-md-4">
            <%= select_tag 'test_suites', options_from_collection_for_select(@test_suites, "id", "name"), multiple: true, class: 'multiselect' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Cases</label>
          <div class="col-md-4">
            <%= select_tag 'test_cases', options_from_collection_for_select(@test_cases, "id", "name"), multiple: true, class: 'multiselect' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button class="btn btn-default btn-success" type="submit">Create</button>
          </div>
        </div>

        <div id="webtest_test_items">
        </div>

    <% end %>

    <ul>
      <li><%= link_to 'New test case', new_test_case_path %></li>
      <li><%= link_to 'New test suite', new_test_case_path %></li>
    </ul>
  </div>
</div>


<%= raw htmltable_for @test_plans, { :html_class => 'spacer', :actions => { :show => true} } %>