<h1>Webtest#index</h1>
<p>Find me in app/views/webtest/index.html.erb</p>

<div class="panel panel-default">
  <div class="panel-heading">Create webtest</div>
  <div class="panel-body">

    <%= form_tag(new_test_plan_path, method: 'post', class: "form-horizontal spacer", role: 'form') do %>
        <%= raw htmlform_for @test_plan, {:nested => true, :only => [:name, :description],
                :caption => 'New test plan'
        }
        %>

        <div class="form-group">
          <label class="col-md-4 control-label">Attach test items</label>
          <div class="col-md-4">
            <%= select_tag "test suites", options_from_collection_for_select(@test_suites, "id", "name"), multiple: true, class: 'multiselect' %>
            <%= select_tag "test cases", options_from_collection_for_select(@test_cases, "id", "name"), multiple: true, class: 'multiselect' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button class="btn btn-default btn-success" type="submit">Create</button>
          </div>
        </div>
    <% end %>


    <ul>
      <li><%= link_to 'New test case', new_test_case_path %></li>
      <li><%= link_to 'New test suite', new_test_case_path %></li>
    </ul>
  </div>
</div>