<% content_for :page_header do %>
  <h3>
    Edit Profile
  </h3>
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="user_edit_tab">
  <li class="active"><a href="#appearance" data-toggle="tab">Appearance</a></li>
  <li><a href="#profile" data-toggle="tab">Personal</a></li>
  <li><a href="#authentication" data-toggle="tab">Authentication</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="appearance">
    <!-- settings form -->
    <%= form_tag('/users', method: 'put', class: 'form-horizontal spacer', role: 'form') do %>
        <!-- label -->
        <div class="form-group">
          <label class="col-md-4 control-label">Labels</label>
          <div class="col-md-6">
            <div class="radio radio-inline">
              <input type="radio" name="user[settings][show_labels]" id="show_labels_long" value="long" <%= 'checked' if resource.settings && resource.show_labels == 'long' %>>
              <label for="show_labels_long">
                Long
              </label>
            </div>
            <div class="radio radio-inline">
              <input type="radio" name="user[settings][show_labels]" id="show_labels_short" value="short" <%= 'checked' if resource.settings && resource.show_labels == 'short' %>>
              <label for="show_labels_short">
                Short
              </label>
            </div>
            <div class="radio radio-inline">
              <input type="radio" name="user[settings][show_labels]" id="show_labels_none" value="none" <%= 'checked' if resource.settings && resource.show_labels == 'none' %>>
              <label for="show_labels_none">
                None
              </label>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Color</label>
          <div class="col-md-6">
            <input name="user[settings][color]" class="form-control" value="<%= resource.settings['color'] if resource.settings && resource.settings['color'] %>" />
          </div>
          <div class="col-md-2"></div>
        </div>
        <!-- show breadcrumbs -->
        <div class="form-group">
          <label class="col-md-4 control-label">Breadcrumbs</label>
          <div class="col-md-6">
            <div class="radio radio-inline">
              <input type="radio" name="user[settings][show_breadcrumbs]" id="show_breadcrumbs_true" value="true" <%= 'checked' if resource.settings && resource.show_breadcrumbs? %>>
              <label for="show_breadcrumbs_true">
                  Show
              </label>
            </div>
            <div class="radio radio-inline">
              <input type="radio" name="user[settings][show_breadcrumbs]" id="show_breadcrumbs_false" value="false" <%= 'checked' if resource.settings && !resource.show_breadcrumbs? %>>
              <label for="show_breadcrumbs_false">
                  Hide
              </label>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <%= submit_tag "submit" %>
    <% end %>
  </div>

  <div class="tab-pane" id="profile">
    <%= raw htmlform_for resource, {:html_class => 'spacer', :within_tab => true,
                                    :only => [:username, :email],
                                    :help_text => {:email => 'We use email for notifications and (gr)avatar detection.',
                                                   :username => 'Enter your name, so people you know can recognize you.'}

    }
    %>
  </div>

  <div class="tab-pane" id="authentication">

    <div class="panel panel-default spacer">
      <div class="panel-heading">Change Password</div>
      <div class="panel-body">
        <%= raw htmlform_for resource, {:html_class => 'spacer', :within_tab => true, :action => 'update_password',
                                        :only => [:password, :password_confirmation],
                                        :help_text => {
                                                :password => 'Enter your new password',
                                                :password_confirmation => 'Enter it again.',
                                        }

        }
        %>
      </div>
    </div>

    <div class="panel panel-default spacer">
      <div class="panel-heading">API Access</div>
      <div class="panel-body">
        <% if @user.api_is_enabled? %>
            <p>
              Your API Token:
              <strong><%= @user.api_token.empty? ? "unset" : @user.api_token %></strong>
              <br/><br/>
              <%= link_to raw('<span class="glyphicon glyphicon-refresh"></span> Regenerate'),
                          generate_user_token_path, :method => :post, :class => 'btn btn-default' %>
              <%= link_to raw('<span class="glyphicon glyphicon-remove"></span> Disable'),
                          remove_user_token_path, :method => :delete, :class => 'btn btn-default' %>
            </p>
        <% else %>
            <p>
              You'll need a unique key to make calls to the API. Remember <strong>to keep this token secret</strong>, as
              it can be used to access your account.
              <br/><br/>
              <%= link_to "Generate API token", generate_user_token_path, :method => :post, :class => 'btn btn-default' %>
            </p>
        <% end %>
      </div>
    </div>


    <div class="panel panel-danger">
      <div class="panel-heading">Delete profile</div>
      <div class="panel-body">
        <p>Delete this profile and all associated
          data. <%= button_to "Delete", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>
      </div>
    </div>
  </div>


</div>


<!-- make tabs clickable and store location -->
<script>
    $('#user_edit_tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // store the currently selected tab in the window location hash
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var tab_name = $(e.target).attr("href").substr(1);
        window.location.hash = tab_name;
    });

    // on load of the page: switch to the currently selected tab
    var anchor = window.location.hash;
    $('#user_edit_tab a[href="' + anchor + '"]').tab('show');
</script>
