<!--insert search string-->
<% content_for :main_search do %><%= @search_string %><% end %>


<h3>Search results for "<%= @search_string %>"</h3>

<% if @services.blank? and @systems.blank? %>

    <strong>No matches were found!</strong>

<% else %>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="search_tab">
      <% if @systems %>
          <li class="active">
            <a href="#tab-systems" data-toggle="tab">Systems (<%= (@systems.size > 0) ? @systems.size : 0 %> found)</a>
          </li>
      <% end %>
      <% if @services %>
          <li><a href="#tab-services" data-toggle="tab">Services (<%= (@services.size > 0) ? @services.size : 0 %>
            found)</a></li>
      <% end %>
      <% if @test_plans %>
          <li>
            <a href="#tab-test_plans" data-toggle="tab">Test Plans (<%= (@test_plans.size > 0) ? @test_plans.size : 0 %>
              found)</a>
          </li>
      <% end %>
    </ul>

    <div class="tab-content">

      <% if @systems.size > 0 %>
          <div class="tab-pane active" id="tab-systems">
            <% @systems.each do |system| %>
                <%
                   system.name = system.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if system.name
                   system.fqdn = system.fqdn.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if system.fqdn
                %>
                <p style='margin: 0; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd '>
                  <a href="/systems/<%= system.id %>" title="Show">
                    <b>Name:&nbsp;</b><%= raw system.name %>,
                    <b>FQDN:&nbsp;</b><%= raw system.fqdn %>,
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

      <% if @services %>
          <div class="tab-pane" id="tab-services">
            <% for service in @services %>
                <%
                   service.name = service.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if service.name
                %>
                <p style='margin: 0; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd '>
                  <a href="/services/<%= service.id %>" title="Show">
                    <b>Name:&nbsp;</b><%= raw service.name %>
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

      <% if @test_plans %>
          <div class="tab-pane" id="tab-test_plans">
            <% @test_plans.each do |tp| %>
                <%
                   tp.name = tp.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if tp.name
                   tp.slug = tp.slug.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if tp.slug
                %>
                <p style='margin: 0; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd '>
                  <a href="/test_plans/<%= tp.id %>" title="Show">
                    <b>Name:&nbsp;</b><%= raw tp.name %>,
                    <b>Slug:&nbsp;</b><%= raw tp.slug %>
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

    </div>
<% end %>

<!-- make tabs clickable and store location -->
<script>
    $('#search_tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // store the currently selected tab in the window location hash
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var tab_name = $(e.target).attr("href").substr(1);
        window.location.hash = tab_name;
    });

    // on load of the page: switch to the currently selected tab
    var anchor = window.location.hash;
    $('#search_tab a[href="' + anchor + '"]').tab('show');
</script>