<%#*you are in a div with id ajax_search_result here, also see static results page in search/_input.html.erb%>

<div>

  <% if @services.blank? and @systems.blank? %>
      <span>No matches found! <i class="fa fa-frown-o"></i></span>
  <% else %>

      <% if @systems.size > 0 %>
          <div style='padding: 5px 0px; font-size: 12px;'>
            <p class="ui-state-default" style="padding:2px;">Systems (<%= @systems.size %> found)</p>
            <% for @system in @systems[0..3] %>
                <%
                   @s = @system.clone
                   @s.name = @system.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if @system.name
                   @s.fqdn = @system.fqdn.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if @system.fqdn
                %>
                <p style='padding: 2px 5px; font-size: 11px; border-bottom: 1px solid #ddd '>
                  <a id="system-<%= @s.id %>" href="/systems/<%= @system.id %>" title="Show">
                    <b>Name:&nbsp;</b><%= raw @s.name %>...
                    <b>FQDN:&nbsp;</b><%= raw @s.fqdn %>...
                  </a>
                </p>
            <% end %>
            <% if @systems.size > 5 %>
                <p style="padding: 2px 5px; font-size: 9px;">
                  <a href="/search/search?o=<%= url_encode(@search_string) %>#tab-systems" title="Show">
                    <b>or show all found systems...</b>
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

      <% if @services.size > 0 %>
          <div style='padding: 5px 0px; font-size: 12px;'>
            <p class="ui-state-default">Services (<%= @services.size %> found)</p>
            <% for @service in @services[0..3] %>
                <%
                   @service.name = @service.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if @service.name
                   @service.type = @service.type.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if @service.type
                   @service.description = @service.description.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if @service.description
                %>
                <p style='padding: 2px 5px; font-size: 11px; border-bottom: 1px solid #ddd'>
                  <a href="/services/<%= raw @service.id %>" title="Show">
                    <b>Name:&nbsp;</b><%= raw @service.name %>...
                    <b>Type:&nbsp;</b><%= raw @service.type %>...
                    <b>Description:&nbsp;</b><%= raw @service.description %>
                  </a>
                </p>
            <% end %>
            <% if @services.size > 5 %>
                <p style="padding: 2px 5px; font-size: 9px;">
                  <a href="/search/search?q=<%= url_encode(@search_string) %>#tab-services" title="Show">
                    <b>or show all found services...</b>
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>
    <% end %>
</div>