<h3>Admin Area</h3>

<h4 class="spacer">Global Environment Variables</h4>
<% unless @om_env_vars.empty? %>
    <% @om_env_vars.each_pair do |name, value| %>
        <strong><%= name %></strong>=<code><%= value %></code><br>
    <% end %>
<% else %>
    No Openmetrics environment variables found. That's bad! <span class="fa fa-meh-o"></span>
<% end %>

<h4 class="spacer">Users</h4>
<%= render 'admin/users', users: @all_users %>


<h4 class="spacer">Sidekiq Background Processor</h4>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Click <%= link_to "here", '/sidekiq', :target => :blank %> to open sidekiq UI in full size.</p>
    <iframe src="/sidekiq" width="100%" height="360">
    </iframe>
  </div>
</div>


<h4>Selenium Grid</h4>
<div class="panel panel-default">
  <div class="panel-body">
    <h5>Hub Status</h5>
    <% if @selenium_hub_status.is_json? %>
        <%= coderay(@selenium_hub_status, 'json', 'div') %>
    <% else %>
        <span class="text-danger"><%= @selenium_hub_status %></span>
    <% end %>
    <h5>Console</h5>
    <p>Click <%= link_to "here", 'http://localhost:4444/grid/console', :target => :blank %> to open Grid Console in full size.</p>
    <iframe src="http://localhost:4444/grid/console" width="100%" height="360">
    </iframe>
  </div>

</div>


