<% content_for :page_header do %>
    <h3>
      <%= link_to raw(badge_label @test_script, {:label_class => 'primary'}), test_script_path(@test_script) %>
      <span class="btn-group btn-group-sm pull-right">
        <%= link_to t('om.controls.delete_html'), @test_script, :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-default' %>
        <%= link_to t('om.controls.show_html'), test_script_path(@test_script), :class => 'btn btn-default' %>
        <%= link_to t('om.controls.save_html'), 'javascript:void(0)', :class => 'btn btn-default save generic' %>
      </span>
    </h3>
<% end %>

<div class="row">

  <!-- left column -->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= raw htmlform_for(@test_script, {:except => [:updated_at, :created_at, :id, :type], :without_submit_button => true, :html_class => 'spacer'}) %>
      </div>
    </div>
  </div>

</div>






