<div class="timeline-centered">
  <% events.each do |activity| %>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <% if activity.owner %>
          <!-- you can use e.g. bg-info here to make it a colorized circle -->
          <div class="timeline-icon" style="background: #fff url(<%= gravatar_image_url(activity.owner.email, size: 40) unless activity.owner.nil? %>) center center no-repeat;"><i class="entypo-feather"></i></div>
          <% else %>
              <div class="timeline-icon bg-info"><i class="entypo-feather"></i></div>
          <% end %>
          <div class="timeline-label">
            <h2>
              <% if activity.owner %>
                <%= link_to activity.owner.username, activity.owner %>
              <% else %>
                Someone
              <% end %>
              <span><%= render_activity(activity, layout: 'activity', fallback: 'default') %></span>
              <br><small><i class="fa fa-clock-o"></i> <%= activity.created_at.to_time.strftime('%A, %F at %I:%M%p') %></small>
            </h2>
            <% if activity.parameters.any? and activity.parameters.is_a?(Hash) %>
                <p>
                    <% if activity.parameters[:changes] %>
                       <span class="label label-info">Change</span> <%= changes_to_string(activity.parameters[:changes]) %>
                    <% elsif activity.parameters[:test_execution_id] %>
                        <% te = TestExecution.find_by_id activity.parameters[:test_execution_id] %>
                        <% if te.is_finished? %>
                          <%= link_to (badge_label te, {:text => ''}), test_execution_path(te, anchor: 'finished') %>
                          meanwhile has been <a href="<%= test_execution_path(te, anchor: 'finished')%>"><%= raw te.image_result %> <%= te.text_result %></a>!
                        <% elsif te.is_running? %>
                          <%= link_to (badge_label te, {:text => ''}), te %>
                          is currently beeing processed <i class="fa fa-spinner fa-spin"></i>
                        <% end %>

                    <% else %>
                        <%= activity.parameters %>
                    <% end %>
                </p>
            <% else %>
                <!--<p>no changes recorded! -->
                  <!--<%= activity.to_json %>-->
                <!--</p>-->
            <% end %>
          </div>
        </div>
      </article>
  <% end %>
</div>