<div class="timeline-centered">
  <% events.each do |activity| %>
      <article class="timeline-entry">
        <div class="timeline-entry-inner">
          <div class="timeline-icon" style="background: #fff url(<%= gravatar_image_url(activity.owner.email, size: 40) %>) center center no-repeat;"> <!-- you can use e.g. bg-info here to make it a colorized circle -->
            <i class="entypo-feather"></i>
          </div>
          <div class="timeline-label">
            <h2>
              <%= link_to activity.owner.username, activity.owner if activity.owner %>
              <span><%= render_activity(activity, layout: 'activity', fallback: 'default') %></span>
              <br><small><i class="fa fa-clock-o"></i> <%= activity.created_at.to_time.strftime('%A, %F at %I:%M%p') %></small>
            </h2>
            <% if activity.parameters.any? %>
                <p>
                    <% if activity.parameters.is_a?(Hash)  %>
                       <%= changes_to_string(activity.parameters[:changes]) %>
                    <% else %>
                        <%= activity.parameters %>
                    <% end %>
                </p>
            <% else %>
                <p>no changes recorded! <%= activity.to_json %></p>
            <% end %>
          </div>
        </div>
      </article>
  <% end %>
</div>