<% unless test_executions.empty? %>
    <h4 class="spacer">Recent Test Executions</h4>
    <div class="list-group">
      <% test_executions.each do |te| %>
          <a href="<%= test_execution_path(te, anchor: 'finished') %>" class="list-group-item">
              <%= badge_label te, {:text => ''} %>
              <% if te.is_finished? %>
                  <%= badge_label te.test_plan, {:label_class => 'info'} %>
                  <%= raw te.image_result %> <%= te.text_result %>!
              <% elsif te.is_running? %>
                  is currently beeing processed <i class="fa fa-spinner fa-spin"></i>
              <% else %>
                  behaved strange <i class="fa fa-meh-o"></i>
              <% end %>
              <%#= badge_label te.test_plan, {:label_class => 'info'} %>
              <%#= gravatar_image_tag(current_user.email, :class => "gravatar-s", :gravatar => {:size => 16}) + current_user.username %>
          </a>
      <% end %>
    </div>
    <%= link_to "Show all Test Executions", test_executions_path %>
<% else %>
    <h4 class="spacer">Recent Test Executions</h4>
        Not yet executed.
<% end %>
