<% unless test_executions.empty? %>
    <h4 class="spacer">Recent Test Executions</h4>
    <div class="list-group">
      <% test_executions.each do |te| %>
          <a href="<%= test_execution_path(te, anchor: 'finished') %>" class="list-group-item">
            <h5 class="list-group-item-heading">
                <%= badge_label te, {:text => '', :label_class => 'primary'} %>
                <%= badge_label te.test_plan, {:text => '', :label_class => 'info'} %>
            </h5>
            <p class="list-group-item-text">
              <%= raw te.image_result %>
              <% quality = te.test_execution_items.collect{|tei| tei.overall_quality}.flatten %>
              <span id="quality_graph_<%= te.id %>" class="quality_graph" data-quality="<%= quality.to_json %>" style=" vertical-align:middle; display:inline-block; width:120px;height:25px;"></span>
              <!--<code><%= te.duration %> s</code>-->
            </p>
          </a>
      <% end %>
    </div>
    <%= link_to "Show all Test Executions", test_executions_path %>
<% else %>
    <h4 class="spacer">Recent Test Executions</h4>
        Not yet executed.
<% end %>
