<ul class="test_plan">
<% test_plan.test_items.each_with_index do |test_item, n| %>
    <li>
      <span class="itemNumber"><%= n+1 %></span>
      <strong><%= test_item.name %></strong> <span class="label label-primary"><%= test_item.type %></span> <span class="label label-info"><%= test_item.format %></span>
      <%= coderay(test_item.markup, test_item.format) if controller.controller_name == 'test_executions' %>
    </li>
<% end %>
</ul>



