<%# this partial is used to show TestPlan AND to show TestExecution %>
<% te_items = nil if local_assigns[:te_items].nil? %>

<ul class="test_plan">
<% tp.test_plan_items.each_with_index do |item, n| %>
    <hr>
    <li>
      <span class="item-number"><%= n+1 %></span>
      <%#= badge item.test_item.format, 'info' %>
      <%= link_to badge_label(item.test_item, {:label_class => 'primary'}), item.test_item %>
      <%= raw '<span class="fa fa-sign-in text-danger" title="requires input"></span>' if item.test_item.requires_input? %>
      <%= raw '<span class="fa fa-sign-in text-success" title="provides input"></span>' if item.test_item.provides_input? %>
      <%# is there already an exitstatus available? %>
      <% if !te_items.nil? && te_items[n] && controller.controller_name == 'test_executions' %>
        <%= ( ! te_items[n].test_execution.test_execution_result.nil? and
              te_items[n].test_execution.test_execution_result.exitstatus.is_a? Integer and
              te_items[n].test_execution.test_execution_result.exitstatus > 0 ) ?
                '<span class="label label-danger text-danger">Failure</span>'.html_safe :
                '<span class="label label-success text-success">Success</span>'.html_safe
        %>
      <% end %>
      <%= coderay(item.test_item.markup, item.test_item.format, "div") if controller.controller_name == 'test_executions' %>

      <%# display matching TestExecutionItem markup %>
      <% if !te_items.nil? && te_items[n] && controller.controller_name == 'test_executions' %>
        <!--arrow down graphic, centered, block  -->
        <div class="text-center"><i class="fa fa-arrow-down"></i></div>
        <%= coderay(te_items[n].markup, te_items[n].format, "div") %>
        <%#= te_items[n].inspect %>
      <% end %>

    </li>
<% end %>
</ul>



