<span class="btn-group btn-group-sm">

    <% if @test_execution.previous %>
        <%= link_to(raw('<i class="fa fa-chevron-circle-left"> previous</i>'), test_execution_path(@test_execution.previous, anchor: 'finished'), class: 'btn btn-default')  %>
    <% else %>
      <%= link_to(raw('<i class="fa fa-chevron-circle-left"></i>'), '#', class: 'btn btn-default disabled')  %>
    <% end %>
  <% if @test_execution.next %>
    <%= link_to(raw('<i class="fa fa-chevron-circle-right"> next</i>'), test_execution_path(@test_execution.next, anchor: 'finished'), class: 'btn btn-default') %>
    <% else %>
      <%= link_to(raw('<i class="fa fa-chevron-circle-right"> next</i>'), '#', class: 'btn btn-default disabled')  %>
    <% end %>

    <%#= link_to 'Back', :back, :class => 'btn btn-default' %>
    <%#= link_to raw('<span class="glyphicon glyphicon-wrench"></span> Edit Test Plan'), edit_test_plan_path(@test_plan), :class => 'btn btn-default' %>
    <%= link_to(raw('<i class="fa fa-play"></i> Run again'), '#', class: 'btn btn-default run_test_plan', data: { id: @test_execution.test_plan.id}) %>
    <button class="btn btn-default display_options" data-placement="bottom">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
</span>

<div id="popover_content_container" class="hidden">

  <div id="display_options_popover">
      <!--<h5>Display settings</h5>-->
      <div class="checkbox checkbox-circle">

        <input type="checkbox" id="checkbox_showall">
        <label for="checkbox_showall">Show All</label>

        <hr>

        <input type="checkbox" id="checkbox_quality">
        <label for="checkbox_quality">Quality <i class="fa fa-tachometer"></i></label>

        <br>

        <input type="checkbox" id="checkbox_markup">
        <label for="checkbox_markup">Executable Markup <i class="fa fa-file-code-o"></i></label>

        <br>

        <input type="checkbox" id="checkbox_markup_raw">
        <label for="checkbox_markup_raw">Raw Markup <i class="fa fa-code"></i></label>

        <br>

        <input type="checkbox" id="checkbox_stdin">
        <label for="checkbox_stdin">Input <i class="fa fa-sign-in"></i></label>
        <br>

        <input type="checkbox" id="checkbox_stdout">
        <label for="checkbox_stdout">Output <i class="fa fa-sign-out"></i></label>

        <br>

        <input type="checkbox" id="checkbox_stderr">
        <label for="checkbox_stderr">Error Output <i class="fa fa-bug"></i></label>

      </div>
  </div>
</div>