<ul class="test_plan">
  <% tp.test_items.each_with_index do |te_item, n| %>
      <hr>
      <li>
        <span class="item-number"><%= n+1 %></span>
        <span class="label label-primary"><%= te_item.type %></span>
        <span class="label label-info"><%= te_item.format %></span>
        <%= link_to te_item.name, te_item %>

        <%# is there already an exitstatus available? %>
        <% if te.test_execution_items[n] and te.test_execution_items[n].exitstatus.is_a? Integer and te.test_execution_items[n].exitstatus > 0 %>
            <%= '<span class="label label-danger">Fail</span>'.html_safe %>
            <!--<div class="text-center"><i class="fa fa-arrow-up"></i></div>-->
        <% elsif te.test_execution_items[n] and te.test_execution_items[n].exitstatus.is_a? Integer and te.test_execution_items[n].exitstatus == 0 %>
            <%= '<span class="label label-success">Pass</span>'.html_safe %>
        <% else %>
            <%= '<span class="label label-default">not yet processed</span>'.html_safe %>
        <% end %>

        <%# if already processed show execution time %>
        <% if te.test_execution_items[n] and !te.test_execution_items[n].duration.nil? %>
            <%= "<span class=\"duration\">#{te.test_execution_items[n].duration.to_s} s</span>".html_safe %>
        <% end %>

        <!--generate a list of stdout, stderr and the markup (-file) -->
        <% if te.test_execution_items[n] %>
            <ul class="fa-ul">
              <!--in case of failure show the error message-->
              <li><i class="fa-li fa fa-bug"></i>
                <%= te.test_execution_items[n] and te.test_execution_items[n].error.nil? ? coderay("STDERR empty", "plain", "div") : coderay(te.test_execution_items[n].error, te.test_execution_items[n].format, "div") %>
              </li>
              <!--in case of success show the output-->
              <li><i class="fa-li fa fa-sign-out"></i>
                <%= te.test_execution_items[n] and te.test_execution_items[n].output.nil? ? coderay("STDOUT empty", "plain", "div") : coderay(te.test_execution_items[n].output, "plain", "div") %>
              </li>


              <%# display matching TestExecutionItem markup %>
              <li><i class="fa-li fa fa-file-code-o"></i></li>
              <li><i class="fa-li fa fa-code"></i><%= File.basename(te.test_execution_items[n].executable) %>
                <%= coderay(te.test_execution_items[n].markup, te.test_execution_items[n].format, "div") %>
              </li>
              <!--<div class="text-center"><i class="fa fa-arrow-up"></i></div>-->
              <%#= te_items[n].inspect %>

              <%# display origin TestItem markup %>
              <%#= coderay(te_item.markup, te_item.format, "div") %>
            </ul>
        <% end %>

      </li>
  <% end %>
</ul>