<ul class="test_plan">
  <% if tp.test_plan_items.any? %>
      <% tp.test_items.each_with_index do |test_item, n| %>
          <% tei = te.test_execution_items[n] %>
          <hr>
          <li>
            <% if tei %>
                <%
                   number_color = if tei.quality.any? and tei.quality.first.status == 0
                                    'success'
                                elsif tei.quality.any? and tei.quality.first.status > 0
                                    'red'
                                else
                                    'grey'
                                end
                %>
            <% end %>

            <span class="item-number <%= number_color %>"><%= n+1 %></span>
            <%# if tei %>
                <%#= badge_label tei, {:label_class => 'primary', :text => ''} %>
            <%# end %>
            <%= link_to (badge_label test_item, {:label_class => 'info'}), test_item %>

            <!-- add some icons to toggle input, output and error directly -->
            <span class="toggle_status">
                <% if tei and tei.provides_input? %>
                    <i class="fa fa-sign-in" data-toggle="stdin" title="Input"></i>
                <% end %>
                <% if tei and !tei.output.nil? %>
                    <i class="fa fa-sign-out" data-toggle="stdout" title="Output"></i>
                <% end %>
                <% if tei and !tei.error.nil? %>
                    <i class="fa fa-bug" data-toggle="stderr" title="Error Output"></i>
                <% end %>
            </span>

            <!-- processing status (exit code and execution time) -->
            <div class="pull-right">
                <%# is there already an exitstatus available? %>
                <% if tei and tei.exitstatus.is_a? Integer %>
                  <small class="darkgrey">Exit </small> <span class="exit"><%= tei.exitstatus %></span>
                <% elsif tei and !tei.started_at.nil? and tei.finished_at.nil? %>
                  <span class="label label-default">In progress</span>
                <% else %>
                  <span class="label label-default">Waiting</span>
                <% end %>

                <%# if already processed show execution time %>
                <% if tei and !tei.duration.nil? %>
                  <small class="darkgrey">after</small> <%= "<span class=\"duration\">#{tei.duration.to_s} s</span>".html_safe %>
                <% end %>
            </div>

            <!--generate a list of stdout, stderr and the markup (-file) -->
            <% if tei %>
                <ul class="items fa-ul">

                  <!-- quality criteria -->
                  <li class="quality_criteria spacer collapse"><i class="fa-li fa fa-check-square"></i>
                    Success Criteria
                    <div class="well">
                        <%= render 'shared/quality_criteria', item: tei %>
                    </div>
                  </li>

                  <!-- quality -->
                  <li class="quality spacer collapse"><i class="fa-li fa fa-tachometer"></i>
                    Quality
                    <%= render 'shared/quality', item: tei %>
                  </li>

                  <!-- input -->
                  <li class="stdin spacer collapse"><i class="fa-li fa fa-sign-in"></i>
                    Input
                    <% if tei and tei.provides_input? %>
                        <div class="well">
                            <% tei.provided_input.each do |input_array| %>
                                <span class="label label-success">Provides</span> Input <strong><%= input_array[0] %></strong> with value <strong><%= input_array[1] %></strong><br>
                            <% end %>
                        </div>
                        <code><%= tei.working_dir+"/in/#{tei.position}_#{tei.test_item_id}.env" %></code>
                    <% else %>
                       <%= coderay('empty', "plain", "div") %>
                    <% end %>
                  </li>

                  <!--in case of success show the output-->
                  <li class="stdout spacer collapse"><i class="fa-li fa fa-sign-out"></i>
                    Output
                    <%= tei and tei.output.nil? ? coderay("empty", "plain", "div") : coderay(tei.output, "plain", "div") %>
                  </li>

                  <!--in case of failure show the error message-->
                  <li class="stderr spacer collapse"><i class="fa-li fa fa-bug"></i>
                    Error Output
                    <%= tei and tei.error.nil? ? coderay("empty", "plain", "div") : coderay(tei.error, tei.format, "div") %>
                  </li>

                  <%# display origin TestItem markup %>
                  <li class="markup_raw spacer collapse"><i class="fa-li fa fa-code"></i>
                    Raw Markup  <%= badge test_item.format, 'info' %>
                    <%= coderay(test_item.markup, test_item.format, "div") %>
                  </li>

                  <%# display matching TestExecutionItem markup %>
                  <li class="markup spacer collapse"><i class="fa-li fa fa-file-code-o"></i>
                    Executable Markup <%= badge tei.format, 'info' %>
                    <%#= File.basename(tei.executable) %>
                    <%= coderay(tei.markup, tei.format, "div") %>
                    <code><%= tei.executable %></code>
                  </li>

                </ul>
            <% end %>

          </li>
      <% end %>
  <% end %>
</ul>