<% content_for :page_header do %>
    <h3>
      Test Executions
    </h3>
<% end %>

<%#= raw htmltable_for @test_executions, { :html_class => 'spacer', :actions => { :show => true} } %>

<table class="table spacer">
  <thead>
  <tr>
    <th>Test Execution</th>
    <th>Test Plan</th>
    <th>Started At</th>
    <th>Finished At</th>
    <th>Duration</th>
    <th>Status</th>
    <th>Result</th>
    <th>Quality</th>
  </tr>
  </thead>
  <tbody>
  <% @test_executions.each do |te| %>
  <tr>
    <td>
      <% anchor = te.status == 40 ? 'finished' : nil %>
      <%= link_to badge_label(te, {:text => '', :label_class => 'primary'}), test_execution_path(te, anchor: anchor) %>
    </td>
    <td><%= link_to badge_label(te.test_plan, {:label_class => 'primary'}), te.test_plan %></td>
    <td><%= I18n.localize(te.started_at, :format => :short) unless te.started_at.nil? %></td>
    <td><%= I18n.localize(te.finished_at, :format => :short) unless te.finished_at.nil? %></td>
    <td><%= te.duration %></td>
    <td><%= EXECUTION_STATUS[te.status] %></td>
    <td><%= te.text_result %></td>
    <% quality = te.test_execution_items.collect{|tei| tei.overall_quality}.flatten %>
    <td><div id="quality_graph_<%= te.id %>" class="quality_graph" data-quality="<%= quality.to_json %>" style="width:125px;height:25px;"></div></td>
  </tr>
  </tbody>
  <% end %>
</table>