<% javascript('webtest') %>

<div class="row">


  <!-- left column, top column when mobile -->
  <div class="col-md-8">
    <h3>
      <%= raw badge "TestPlan", 'primary' %>
      <%= link_to "#{@test_plan.name}", @test_plan %>
    </h3>
    <div class="panel panel-default spacer">
      <div class="panel-body">
        <%#= @test_execution.inspect %>
        <blockquote><p><%= @test_plan.description %></p></blockquote>
        <%= render partial: 'test_plan_execution', locals: { tp: @test_plan, te: @test_execution } %>
      </div>
    </div>
  </div>

  <!-- right column, top column when mobile -->
  <div class="col-md-4">
    <h3>Result</h3>
    <div class="panel panel-default spacer">
      <div class="panel-body">
        Base URL <code><%= @test_execution.test_plan.base_url %></code><br>
        <small>Test execution requested <%= time_ago_in_words(@test_execution.created_at) %> ago.</small><br>
        <%= test_execution_status(@test_execution) %><br>
        <% if @test_execution.status > 10 %>
            Duration <code><%= @test_execution.duration.nil? ? 'not yet decided' : "#{@test_execution.duration} s" %></code><br>
            Exit Status <code><%= @test_execution.test_execution_result.exitstatus.nil? ? "not yet decided" : @test_execution.test_execution_result.exitstatus %></code>
        <% else %>
            There is no result yet.
        <% end %>
      </div>
    </div>
    <%#= @test_execution.test_execution_result.inspect %>
  </div>

</div>