<% disable_turbolinks! %>
<% javascript('webtest') %>
<% javascript('test_executions.js') %>


<div class="row">

  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <div class="page-header">
      Result
    </div>
    <div class="panel panel-default spacer">
      <div class="panel-body">
        <%= render partial: 'controls' %>
        Base URL <code><%= @test_execution.test_plan.base_url %></code><br>
        <small>Test execution requested <%= time_ago_in_words(@test_execution.created_at) %> ago.</small><br>
        <%= test_execution_status(@test_execution) %><br>
        <% if @test_execution.status > 10 %>
            Duration <code><%= @test_execution.duration.nil? ? 'not yet decided' : "#{@test_execution.duration} s" %></code><br>
            Exit Status <code><%= @test_execution.result.exitstatus.nil? ? "not yet decided" : @test_execution.result.exitstatus %></code>
        <% else %>
            There is no result yet.
        <% end %>

      </div>
    </div>
    <%#= @test_execution.result.inspect %>
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">
    <div class="page-header">
      <%= raw badge "TE-#{@test_execution.id}", 'default' %>
      <%= raw badge "TP-#{@test_plan.id}", 'primary' %>
      <%= link_to "#{@test_plan.name}", @test_plan %>
    </div>
    <div class="panel panel-default spacer">
      <div class="panel-body">
        <%#= @test_execution.inspect %>
        <blockquote><p><%= @test_plan.description %></p></blockquote>
        <%= render partial: 'test_plan_execution', locals: { tp: @test_plan, te: @test_execution } %>
      </div>
    </div>
  </div>



</div>