<% content_for :page_header do %>
  <h3>
    <%= badge_label @test_execution, {:label_class => 'primary', :text => ""} %>
    <small>

    </small>
    <span class="pull-right">
    <%= render partial: 'controls', test_execution: @test_execution %>
    </span>
  </h3>
<% end %>

<div class="row">

  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <h3>Result</h3>
    <div class="panel panel-default">
      <div id="test_execution_status" class="panel-body">
        <%= test_execution_status(@test_execution) %>
      </div>
    </div>
    <!-- execution parameter -->
    <i class="fa fa-rocket"></i> Parameters</strong>
    <%= render 'parameters', item: @test_execution %>
    <!-- test plan quality -->
    <i class="fa fa-tachometer"></i> Quality</strong>
    <%= render 'shared/quality', item: @test_execution %>
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">
    <h3><%= link_to badge_label(@test_plan, {:label_class => 'primary'}), @test_plan %></h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <blockquote><p><%= @test_plan.description %></p></blockquote>
        <%= render partial: 'test_plan_execution', locals: { tp: @test_plan, te: @test_execution } %>
      </div>
    </div>
  </div>

</div>