<% content_for :page_header do %>
  <h3>
    <%= badge_label @test_execution, {:label_class => 'primary', :text => ""} %>
    <%= link_to badge_label(@test_plan, {:label_class => 'info'}), @test_plan %>
    <small>

    </small>
    <span class="pull-right">
    <%= render partial: 'controls', test_execution: @test_execution %>
    </span>
  </h3>
<% end %>

<div class="row">

  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <h3 class="spacer">Result</h3>
    <div class="panel panel-default">
      <div id="test_execution_status" class="panel-body">
        <%= test_execution_status(@test_execution) %>
      </div>
    </div>
    <!-- execution parameter -->
    <i class="fa fa-rocket"></i> Parameters
    <%= render 'parameters', item: @test_execution %>
    <!-- test execution quality -->
    <!--<i class="fa fa-tachometer"></i> Quality-->
    <%#= render 'shared/quality', item: @test_execution %>
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">
    <div class="panel panel-default spacer">
      <div class="panel-body">
        <blockquote><p><%= @test_plan.description %></p></blockquote>
        <%= render partial: 'test_plan_execution', locals: { tp: @test_plan, te: @test_execution } %>
      </div>
    </div>

    <!-- quality criteria -->
    <% if @test_execution.quality_criteria.any? %>
        <h4>Success Criteria</h4>
        <div class="well">
          <%= render 'quality_criteria', test_execution: @test_execution %>
        </div>
    <% end %>
  </div>

</div>