<h3>IpLookup <small>#<%= @ip_lookup.id %></small></h3>
Target: <%= @ip_lookup.target %><br>
Text result:<br>
<%= coderay(@ip_lookup.ip_lookup_result.result, 'json', 'div') %>

<% if @ip_lookup.result %>
<h3>Result</h3>
<% if @ip_lookup.result.is_a? String %>
    <%= @ip_lookup.result %>
<% else %>
    <% JSON.parse(@ip_lookup.result).each do |node| %>
        <h4><%= node['addr'] %></h4>
        <%= node['port']['service']['name'] %> (<%= node['port']['service']['product'] %> <%= node['port']['service']['version'] %>)
        <% end %>
    <% end %>
<% end %>





