  <h2>
    <span class="glyphicon glyphicon-lock"></span>
    Welcome stranger! Please sign in.
  </h2>

  <table>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <tr>
      <td><%= f.email_field :email, autofocus: true, :class => "form-control" %></td>
      <td><%= f.password_field :password, autocomplete: "off", :class => "form-control" %></td>
      <td><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span></button></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.label :password %></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3">
        <div id="devise-links">
          <%= render "devise/shared/links" %>
            <!--<span class="glyphicon glyphicon-info-sign"></span>-->
            <!--Your session will be invalidated automatically on 20 minutes of-->
            <!--inactivity.-->
        </div>
      </td>
    </tr>
<!--<% end %>-->
</table>