<!--insert search string-->
<% content_for :main_search do %><%= @search_string %><% end %>


<h3>Search results for "<%= @search_string %>"</h3>

<% if @projects.blank? and @services.blank? and @systems.blank? and @test_plans.blank? %>
    <p>No matches found! <i class="fa fa-frown-o"></i></p>
<% else %>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="search_tab">
      <% if @projects %>
          <li <% unless @projects.size > 0 %>class="disabled"<% end %> data-num_results="<%=@projects.size%>">
            <% if @projects.size > 0 %>
                <a href="#tab-projects" data-toggle="tab">Projects (<%= @projects.size %> found)</a>
            <% else %>
                <a href="javascript:void(0)" class="disabled">Projects (0 found)</a>
            <% end %>
          </li>
      <% end %>
      <% if @systems %>
          <li <% unless @systems.size > 0 %>class="disabled"<% end %> data-num_results="<%=@systems.size%>">
            <% if @systems.size > 0 %>
                <a href="#tab-systems" data-toggle="tab">Systems (<%= @systems.size %> found)</a>
            <% else %>
                <a href="javascript:void(0)" class="disabled">Systems (0 found)</a>
            <% end %>
          </li>
      <% end %>
      <% if @services %>
          <li <% unless @services.size > 0 %>class="disabled"<% end %> data-num_results="<%=@services.size%>">
            <% if @services.size > 0 %>
              <a href="#tab-services" data-toggle="tab">Services (<%= @services.size %> found)</a>
           <% else %>
                <a href="javascript:void(0)" class="disabled">Services (0 found)</a>
            <% end %>
          </li>
      <% end %>
      <% if @test_plans %>
            <li <% unless @test_plans.size > 0 %>class="disabled"<% end %> data-num_results="<%=@test_plans.size%>">
            <% if @test_plans.size > 0 %>
              <a href="#tab-test_plans" data-toggle="tab">Test Plans (<%= @test_plans.size %> found)</a>
           <% else %>
                <a href="javascript:void(0)" class="disabled">Test Plans (0 found)</a>
            <% end %>
          </li>
      <% end %>
    </ul>

    <div class="tab-content">

      <% if @projects.size > 0 %>
          <div class="tab-pane active" id="tab-projects">
            <% @projects.each do |project| %>
                <%
                   project.name = project.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if project.name
                   project.description = project.description.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if project.description
                %>
                <p style='margin: 0; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd '>
                  <a href="/projects/<%= project.id %>">
                    <b>Name:&nbsp;</b><%= raw project.name %>,
                    <b>Description:&nbsp;</b><%= raw project.description %>,
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

      <% if @systems.size > 0 %>
          <div class="tab-pane" id="tab-systems">
            <% @systems.each do |system| %>
                <%
                   system.name = system.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if system.name
                   system.description = system.description.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if system.description
                   system.fqdn = system.fqdn.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if system.fqdn
                %>
                <p style='margin: 0; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd '>
                  <a href="/systems/<%= system.id %>">
                    <b>Name:&nbsp;</b><%= raw system.name %>,
                    <b>Description:&nbsp;</b><%= raw system.description %>,
                    <b>FQDN:&nbsp;</b><%= raw system.fqdn %>,
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

      <% if @services.size > 0 %>
          <div class="tab-pane" id="tab-services">
            <% for service in @services %>
                <%
                   service.name = service.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if service.name
                %>
                <p style='margin: 0; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd '>
                  <a href="/services/<%= service.id %>">
                    <b>Name:&nbsp;</b><%= raw service.name %>
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

      <% if @test_plans.size > 0 %>
          <div class="tab-pane" id="tab-test_plans">
            <% @test_plans.each do |tp| %>
                <%
                   tp.name = tp.name.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if tp.name
                   tp.description = tp.description.gsub(/(#{@search_string})/i, '<b class="match">\1</b>') if tp.description
                %>
                <p style='margin: 0; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd '>
                  <a href="/test_plans/<%= tp.id %>">
                    <b>Name:&nbsp;</b><%= raw tp.name %>,
                    <b>Description:&nbsp;</b><%= raw tp.description %>
                  </a>
                </p>
            <% end %>
          </div>
      <% end %>

    </div>
<% end %>

<!-- make tabs clickable and store location -->
<script>

</script>