<%#*we are building a nested list of running services here%>
<%#*a collectd plugin will be installed if it is dropped to a sublist%>

<%#** html #collectd_plugins_list li { height: 1%; }%>

<style type="text/css">
/* pool of collectd plugins as a list*/
/*li span.ui-icon { float: left; }*/
/*.left-floating { float: left; }*/
/*li span.ui-icon.right-floating { float: right; cursor: pointer; }*/
/*li.ui-draggable-dragging {  width: 380px;  }*/
/*li.placeholder span.ui-icon { float: none; display: inline-block; }*/
/*li.placeholder {text-align: center;}*/

/*div#collectd_plugins_list_container { width: 400px; float:left; }*/
/*div#collectd_plugins_list_container ul { padding: 0px; margin: 10px; }*/
/*div#collectd_plugins_list_container ul li { margin: 5px 0px; cursor: move; list-style-type: none; }*/

/*div#enabled_collectd_plugins_lists_container { width: 400px; float:left; margin-left: 30px; }*/
/*div#enabled_collectd_plugins_lists_container ul { margin: 10px 0px; border: 2px solid orange; min-height: 30px; }*/
/*div#enabled_collectd_plugins_lists_container ul li { margin: 5px 10px; list-style-type: none;}*/


</style>

<div class="row">
  <div class="col-md-8">
    <%#*every running service should provide a drop-zone for the collectd_plugins%>
    <div id="enabled_collectd_plugins_lists_container">
      <h3>Running Services</h3>
      <% if @system.running_services.any? %>
          <% @system.running_services.each do |rs| %>
              <h4><%= rs.service.name %></h4>
              <div class="dropzone">
                <ul class="collectd_plugins list-group list-unstyled" data-running_service="<%= rs.id %>">
                  <% rcps = RunningCollectdPlugin.where(running_service_id: rs.id) %>
                  <% if rcps.count > 0 %>
                      <li class="placeholder">Drop items here</li>
                      <% rcps.each do |rcp| %>
                          <li class="enabled list-group-item" data-running_collectd_plugin="<%= rcp.id %>">
                            <span class="actions pull-right">
                              <i class="drag fa fa-arrows"></i>
                              <!--<i class="add fa fa-plus" title="Add"></i>-->
                            </span>
                            <%= link_to badge_label(rcp.collectd_plugin, {:label_class => 'primary'}), rcp.collectd_plugin %>
                          </li>
                      <% end %>
                  <% else %>
                    <li class="placeholder">Drop items here</li>
                  <% end %>
                </ul>
              </div>
          <% end %>
      <% else %>
        <p>
            There aren't any Running Services configured yet. Before you can enable Metric Plugins, one or more Services need to be attached to this System.
            <br><br>
            You may want to <%= link_to 'Services and Relations', edit_system_path(@system, anchor: 'metrics') %> to do so now!
        </p>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <%= render 'collect_plugin_browser', plugins: @collectd_plugins %>
  </div>
</div>
