<%#* included from systems/show.html.erb%>
<% @system.running_services.each do |rs| %>
    <%= rs.service.name %>
    <div class="list-group running_collectd_plugin">
      <% rcps = RunningCollectdPlugin.find :all, :conditions => {:running_service_id => rs.id}, :include => :collectd_plugin %>
      <% rcps.each do |rcp| %>
        <a href="/running_collectd_plugins/<%= rcp.collectd_plugin.id %>" class="list-group-item">
          <h4 class="list-group-item-heading">
            <%= badge "CP-#{rcp.collectd_plugin.id}", 'primary' %>
            <%= rcp.collectd_plugin.name %>
          </h4>
          <!--<p class="list-group-item-text">-->
            <!--<%= rcp.collectd_plugin.configuration %>-->
          <!--</p>-->
        </a>
      <% end %>
    </div>
<% end %>
