<select class="multiselect running_services" multiple="multiple">
    <% for rs in @system.running_services %>
      <option value="<%=  rs.id %>" selected="selected" role="running_service" title="<%=  rs.service.name %>"><%= rs.service.name %> </option>
    <% end %>

    <% for service in @services %>
      <option value="<%=  service.id %>" role="service"><%= service.name %> </option>
    <% end %>
</select>
<br /> <%# the break has some strange side effects with scroll bars of portlets... so, let it in or fix it...%>
