<div class="row">
  <div class="col-lg-12">
  <%= link_to 'Delete', @system, :confirm => 'Are you sure?', :method => :delete, :style => "float:left;", :class => "deleteSystemButton button" %>

  <div style ="float:left; margin: 0 5px;"> | </div>
  <%#= link_to 'Reboot', {:controller => "systems", :action => "reboot", :id => @system.id}, :method => :post, :confirm => 'Are you sure to reboot that system?',
              :style => "float:left;", :id => "rebootSystemButton", :class => "button" %>
  <a class="button" style="float: left">Reboot</a>
  <div style ="float:left; margin:0 5px;"> | </div>
  <%= link_to 'Back', @system, :style => "float:left;", :class => "backSystemButton button" %>

  <div style ="float:left; margin:0 5px;"> | </div>
  <%= link_to 'Save', "#", :style => "float:left;", :class => "saveSystemButton button" %>
    </div>
</div>

<div class="row">

  <!-- left column -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Panel Title</div>
      <div class="panel-body">
        <%= raw htmlform_for @system, {:html_class => 'spacer', :within_tab => true,
                                       :except => [:id, :created_at, :updated_at, :operating_system, :operating_system_flavour],
                                       :help_text => {:fqdn => t('om.views.system.new.html_input.help_text.fqdn'),
                                                      :name => t('om.views.system.new.html_input.help_text.name')},
                                       :submit_text => t('om.views.system.new.html_input.submit_text')
        } %>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="col-md-6">
    <%= render partial: 'running_services_edit' %>
    <p>Consectetur art party Tonx culpa semiotics. Pinterest assumenda minim organic quis.</p>

    <p>Wayfarers selvage YOLO, commodo assumenda eu est bespoke mlkshk. Helvetica reprehenderit iPhone, aesthetic 90's
      literally chambray bicycle rights viral blog voluptate. Occupy bespoke stumptown duis keytar vero.</p>
  </div>

</div>






