<%#= javascript 'systems' %>

<% content_for :page_header do %>
  <h3>
    Edit <%= badge_label @system, {:label_class => 'primary'} %>
    <span class="btn-group btn-group-sm pull-right">
        <%= link_to 'Delete', @system, :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-default' %>
        <%= link_to 'Show', @system, :class => 'btn btn-default' %>
        <%= link_to ' Save', 'javascript:void(0)', :class => 'btn btn-default save' %>
    </span>
  </h3>
<% end %>

<%= form_tag(system_path(@system), method: 'put', class: 'form-horizontal', name: 'system', role: 'form') do %>
<div class="row">
    <div class="col-md-12">
      <!-- metrics tabs left -->
      <div class="tabbable tabs spacer">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#a" data-toggle="tab">System Information</a></li>
          <li><a href="#b" data-toggle="tab">Services and Relations</a></li>
          <li><a href="#c" data-toggle="tab">Metrics</a></li>
        </ul>
        <div class="tab-content spacer">
          <div class="tab-pane active" id="a">
              <div class="panel ">
                <div class="panel-body">
                  <%= raw htmlform_for @system, { :nested => true,
                          :except => [:id, :slug, :created_at, :updated_at],
                          :help_text => {:fqdn => t('om.views.system.edit.html_input.help_text.fqdn'),
                                         :name => t('om.views.system.edit.html_input.help_text.name'),
                                         :description => t('om.views.system.edit.html_input.help_text.description')}
                  } %>
                </div>
              </div>
          </div>
          <div class="tab-pane" id="b">
            <div class="col-md-8">
              <h3>Running Services</h3>
              <%= render partial: 'running_services_edit' %>
            </div>
            <div class="col-md-4">
                hallo
            </div>
          </div>
          <div class="tab-pane" id="c"><%= render partial: 'collectd_plugins_edit' %></div>
        </div>

      </div>
      <!-- /tabs -->
    </div>
</div>

<% end %> <!-- end form_tag -->




