<h3>Create System</h3>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="system_new_tab">
  <li class="active"><a href="#ip-lookup" data-toggle="tab">IP lookup</a></li>
  <li><a href="#html-input" data-toggle="tab">Your input</a></li>
  <li><a href="#scanresult" data-toggle="tab">Recent scan results</a></li>
  <li><a href="#file-input" data-toggle="tab">File import</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane active" id="ip-lookup">
    <div class="panel panel-default spacer">
      <div class="panel-heading">Scan network for a system</div>
      <div class="panel-body">
        <p><%= raw t('om.views.system.new.ip_lookup.note') %></p>
        <%= form_tag(scan_system_path, method: 'post', class: 'form-horizontal spacer', role: 'form') do %>
            <%= raw htmlform_for @ip_lookup, {:nested => true, :only => [:target],
                    # :caption => t('om.views.system.new.ip_lookup.caption'),
                    :help_text => {:target => t('om.views.system.new.ip_lookup.help_text.target')},
                    :submit_text => t('om.views.system.new.ip_lookup.submit_text')
            }
            %>
            <!--submit button-->
            <div class="form-group"><label class="col-md-4 control-label">
                </label><div class="col-md-4">
                  <button class="btn btn-default btn-success" type="submit"><%= t('om.views.system.new.ip_lookup.submit_text')%></button>
                </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="tab-pane" id="html-input">
    <div class="panel panel-default spacer">
      <div class="panel-heading">Fill out form to create a new system</div>
      <div class="panel-body">
        <p>Here you can add a minimalistic System skeleton. Services and Metrics can be attached after successful creation.</p>
        <%= raw htmlform_for @system, {:html_class => 'spacer', :within_tab => true,
                                       :except => [:id, :slug, :created_at, :updated_at, :operating_system, :operating_system_flavour],
                                       :caption => t('om.views.system.new.html_input.caption'),
                                       :help_text => {:fqdn => t('om.views.system.new.html_input.help_text.fqdn'),
                                                      :name => t('om.views.system.new.html_input.help_text.name'),
                                                      :description => t('om.views.system.edit.html_input.help_text.description')},
                                       :submit_text => t('om.views.system.new.html_input.submit_text')
        }
        %>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="scanresult">
    <h3 class="spacer">Recent scan results</h3>
    <%= raw htmltable_for @recent_ip_lookups, { :html_class => 'spacer', :actions => { :show => true } } %>
  </div>

  <div class="tab-pane" id="file-input">
    <h3 class="spacer">Upload CSV file <small>FIXME</small></h3>
    <p>not yet</p>
  </div>

</div>

<!-- make tabs clickable and store location -->
<script>
    $('#system_new_tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // store the currently selected tab in the window location hash
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var tab_name = $(e.target).attr("href").substr(1);
        window.location.hash = tab_name;
    });

    // on load of the page: switch to the currently selected tab
    var anchor = window.location.hash;
    $('#system_new_tab a[href="' + anchor + '"]').tab('show');
</script>