<script type="application/javascript">

    $(document).ready(function () {


        // set timeline http://visjs.org/docs/timeline.html
        // DOM element where the Timeline will be attached
        var container = document.getElementById('timeline');

        // Create a DataSet (allows two way data-binding)
        var items = new vis.DataSet([
            {id: 1, content: 'item 1', start: '2014-04-20'},
            {id: 2, content: 'item 2', start: '2014-04-14'},
            {id: 3, content: 'item 3', start: '2014-04-18'},
            {id: 4, content: 'item 4', start: '2014-04-16', end: '2014-04-19'},
            {id: 5, content: 'item 5', start: '2014-04-25'},
            {id: 6, content: 'item 6', start: '2014-04-27', type: 'point'}
        ]);


        var items = new vis.DataSet([
            <% @system_events.each do |a| %>
                {id: <%= a.id %>, content: '<%= a.key %>', start: '<%= a.created_at.to_time.iso8601 %>', type: 'point'},
            <% end %>
        ]);

        // Configuration for the Timeline
        var options = {};

        // Create a Timeline
        var timeline = new vis.Timeline(container, items, options);


        // system network graph
        // create an array with nodes
        var nodes = [
            {id: 1, label: 'Node 1'},
            {id: 2, label: 'Node 2'},
            {id: 3, label: 'Node 3'},
            {id: 4, label: 'Node 4'},
            {id: 5, label: 'Node 5'}
        ];

        // create an array with edges
        var edges = [
            {from: 1, to: 2},
            {from: 1, to: 3},
            {from: 2, to: 4},
            {from: 2, to: 5}
        ];

        // create a network
        var container = document.getElementById('system-graph');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = { height: '450px', navigation: true, keyboard: false};
        var network = new vis.Network(container, data, options);

//    $.ajax({
//        url: '/systems/<%= @system.id %>',
//        type: "GET",
//        complete: function(data,stat){
//            if(stat=="success") {
//                ResponseData = JSON.parse(data.responseText);
//                var widgets = ResponseData.widgets;
//                renderWidget(widgets);
//            }
//        }
//    });
    });
</script>

<div class="row">
  <h3>
    <%= badge "SYS-#{@system.id}" %> <%= @system.name %>
    <!--subnav-->
      <span class="btn-group btn-group-sm pull-right">
        <%= link_to 'Delete', @system, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-default' %>
        <%= link_to raw('<span class="glyphicon glyphicon-wrench"></span> Edit'), edit_system_path(@system), :class => 'btn btn-default' %>
        <button class="btn btn-default run_options" data-placement="bottom">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
      </span>
  </h3>
</div>


<div class="row">

  <!-- left column -->
  <div class="col-md-8">

    <!-- metrics tabs left -->
    <% if @system_metrics.any? %>
        <h3>Metrics</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <% @system_metrics.each_with_index do |plugin, index| %>
                    <li <%= 'class=active' if index == 0 %> >
                      <a href="#<%= plugin.first %>" data-toggle="tab"><%= plugin.first %></a>
                    </li>
                <% end %>
              </ul>
              <div class="tab-content">
                <% @system_metrics.each_with_index do |plugin, index| %>
                    <div class="tab-pane <%= 'active' if index == 0 %>" id="<%= plugin.first %>">
                      <% rrds = @system_metrics[plugin.first].group_by(&:rrd_file) %>
                      <% rrds.each_pair do |rrd, x| %>
                          <h4><%= rrd %></h4>
                          <% img_path = "/collectd/#{@system.fqdn}.dir/#{@system.fqdn}/#{x.first.plugin}/#{x.first.rrd_file}-1day.png" %>
                          <img src="<%= img_path %>"/>
                      <% end %>

                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <!-- /tabs -->

    <div class="clearfix"></div>


    <!-- timeline (will be filled by js) -->
    <% if @system_events.any? %>
    <h3 class="spacer">Events <small>(Filter for Changes, Alerts, Activities, Daterange, User)</small></h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'shared/activities', events: @system_events %>
        <h4>Timeline</h4>
        <div id="timeline"></div>
      </div>
    </div>
    <% end %>

    <!-- system graph (will be filled by js) -->
    <h3 class="spacer">Relation Graph</h3>

    <div class="clearfix"></div>
    <div class="panel panel-default ">
      <div class="panel-body">
        <div id="system-graph"></div>
      </div>
    </div>

  </div>


  <!-- right column -->
  <div class="col-md-4">

    <% if @system.description or @system.operating_system or @system.operating_system_flavor %>
        <h3 class="spacer">Host Information</h3>
        <%= basic_info_panel @system %>
    <% end %>

    <% if @system.cidr or @system.fqdn or @system.sshuser %>
    <h3 class="spacer">Network Information</h3>
    <%= network_info_panel @system %>
    <% end %>


    <h3 class="spacer">Running Services</h3>

    <div class="list-group running_service">
      <%= render :partial => 'running_services', :collection => @system.running_services, :as => :rs %>
    </div>

  </div>
</div>
