<% content_for :page_header do %>
    <h3>
      <%= badge_label @system, {:label_class => 'primary'} %>
      <span class="btn-group btn-group-sm pull-right">
        <%= link_to t('om.controls.delete_html'), @system, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-default' %>
        <button class="btn btn-default profile_system" data-system_id="<%= @system.id %>">
          <span class="fa fa-flask"></span> Audit
        </button>
        <%= link_to t('om.controls.edit_html'), edit_system_path(@system), :class => 'btn btn-default' %>
      </span>
    </h3>
<% end %>

<div class="row">

  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <%= render :partial => 'system_information' %>
    <%= render :partial => 'host_information' %>
    <% if @system.running_services.any? %>
        <h3 class="spacer">Running Services</h3>
        <div class="list-group running_service">
          <%= render :partial => 'running_services', :collection => @system.running_services, :as => :rs %>
        </div>
        <!-- system graph (will be filled by js) -->
        <div id="system-graph" data-system="<%= @system.to_json %>"
             data-services="<%= @services.all.to_json(only: [:id, :name]) %>"
             data-running_services="<%= @system.running_services.all.to_json(except: [:type, :created_at, :updated_at]) %>"></div>
    <% end %>
  </div> <!-- / right column -->

  <!-- left column, bottom when mobile -->
  <div class="col-md-8 col-md-pull-4">
    <!-- tabs -->
    <ul class="nav nav-tabs borderless" id="system_tabs">
      <li class="active"><a href="#events" data-toggle="tab">Events</a></li>
      <li <%= 'class=disabled' unless @system_metrics.any? %>>
        <% if @system_metrics.any? %>
            <a href="#metrics" data-toggle="tab">Metrics</a>
        <% else %>
            <a href="javascript:void(0)" class="disabled">Metrics</a>
        <% end %>
      </li>
      <li>
        <% if @system.running_services.any? %>
            <a href="#relations" data-toggle="tab">Relations</a>
        <% else %>
            <a href="javascript:void(0)" class="disabled">Relations</a>
        <% end %>
      </li>
      <li <%= 'class=disabled' unless @system.system_lookups.any? %>>
        <% if @system.system_lookups.any? %>
            <a href="#audits" data-toggle="tab">Audits</a>
        <% else %>
            <a href="javascript:void(0)" class="disabled">Audits</a>
        <% end %>
      </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="events">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render 'shared/activities', events: @system_events %>
              <!-- timeline (will be filled by js) -->
              <div id="system-timeline" data-events="<%= @system_events.to_json %>"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="metrics">
        <% if @system_metrics.any? %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="tabbable">
                  <ul class="nav nav-tabs">
                    <% @system_metrics.each_with_index do |plugin, index| %>
                        <li <%= 'class=active' if index == 0 %> >
                          <a href="#<%= plugin.first %>" data-toggle="tab"><%= plugin.first %></a>
                        </li>
                    <% end %>
                  </ul>
                  <div class="tab-content">
                    <% @system_metrics.each_with_index do |plugin, index| %>
                        <div class="tab-pane <%= 'active' if index == 0 %>" id="<%= plugin.first %>">
                          <% rrds = @system_metrics[plugin.first].group_by(&:rrd_file) %>
                          <% rrds.each_pair do |rrd, x| %>
                              <h4><%= rrd %></h4>
                              <% img_path = "/collectd/#{@system.fqdn}.dir/#{@system.fqdn}/#{x.first.plugin}/#{x.first.rrd_file}-1day.png" %>
                              <img src="<%= img_path %>"/>
                          <% end %>

                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <div class="clearfix"></div>
        <!-- / metrics tabs -->
      </div>
      <div class="tab-pane" id="relations">
          <div class="panel panel-default">
            <div class="panel-body">
                Add system graph here as soon as https://github.com/almende/vis/issues/449 is fixed
            </div>
          </div>
      </div>
      <div class="tab-pane" id="audits">
        <div class="panel panel-default">
          <div class="panel-body">
                <%= render 'system_lookups', lookups: @system.system_lookups %>
          </div>
        </div>
      </div>
    </div>

  </div><!-- / left column -->
</div>