<script type="application/javascript">

$( document ).ready(function() {


  // set timeline http://visjs.org/docs/timeline.html
  // DOM element where the Timeline will be attached
  var container = document.getElementById('timeline');

  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet([
    {id: 1, content: 'item 1', start: '2014-04-20'},
    {id: 2, content: 'item 2', start: '2014-04-14'},
    {id: 3, content: 'item 3', start: '2014-04-18'},
    {id: 4, content: 'item 4', start: '2014-04-16', end: '2014-04-19'},
    {id: 5, content: 'item 5', start: '2014-04-25'},
    {id: 6, content: 'item 6', start: '2014-04-27', type: 'point'}
  ]);

  // Configuration for the Timeline
  var options = {};

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);


  // system network graph
    // create an array with nodes
    var nodes = [
        {id: 1, label: 'Node 1'},
        {id: 2, label: 'Node 2'},
        {id: 3, label: 'Node 3'},
        {id: 4, label: 'Node 4'},
        {id: 5, label: 'Node 5'}
    ];

    // create an array with edges
    var edges = [
        {from: 1, to: 2},
        {from: 1, to: 3},
        {from: 2, to: 4},
        {from: 2, to: 5}
    ];

    // create a network
    var container = document.getElementById('system-graph');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = { height: '450px', navigation: true, keyboard: false};
    var network = new vis.Network(container, data, options);

//    $.ajax({
//        url: '/systems/<%= @system.id %>',
//        type: "GET",
//        complete: function(data,stat){
//            if(stat=="success") {
//                ResponseData = JSON.parse(data.responseText);
//                var widgets = ResponseData.widgets;
//                renderWidget(widgets);
//            }
//        }
//    });
});
</script>

<div class="row">

  <!-- left column -->
  <div class="col-md-6">
    <h3>
      <%= badge "SYS-#{@system.id}" %> <%= @system.name %>
      <!--subnav-->
      <span class="btn-group btn-group-sm pull-right">
        <%= link_to 'Delete', @system, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' %>
        <%= link_to raw('<span class="glyphicon glyphicon-wrench"></span> Edit'), edit_system_path(@system), :class => 'btn btn-default' %>
        <button class="btn btn-default run_options" data-placement="bottom">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
      </span>
    </h3>

    <!-- metrics tabs left -->
    <div class="tabbable tabs-left spacer">
      <ul class="nav nav-tabs">
        <li><a href="#a" data-toggle="tab">System Load</a></li>
        <li class="active"><a href="#b" data-toggle="tab">Two</a></li>
        <li><a href="#c" data-toggle="tab">Twee</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
        <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis sit amet augue.</div>
        <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae. </div>
      </div>
    </div>
    <!-- /tabs -->


    <div class="clearfix"></div>

    <p class="spacer">Wayfarers selvage YOLO, commodo assumenda eu est bespoke mlkshk. Helvetica reprehenderit iPhone, aesthetic 90's
      literally chambray bicycle rights viral blog voluptate. Occupy bespoke stumptown duis keytar vero.</p>

    <!-- timeline (will be filled by js) -->
    <div class="panel panel-default spacer">
      <div class="panel-heading"><h5>Events & Activity</h5></div>
      <div class="panel-body"><div id="timeline"></div></div>
    </div>

  </div>

  <!-- right column -->
  <div class="col-md-6">

    <h3>Running Services</h3>
    <%= render :partial => 'running_services', :collection => @system.running_services, :as => :rs %>

    <h3>Metrics</h3>
    <%= render :partial => 'collectd_plugins' %>

    <!-- system graph (will be filled by js) -->
    <div class="clearfix"></div>
    <div class="panel panel-default spacer">
      <div class="panel-heading"><h5>Relations</h5></div>
      <div class="panel-body"><div id="system-graph"></div></div>
    </div>

  </div>
</div>
