<%# javascript 'webtest' %>

<script type="text/javascript" data-turbolinks-eval="false">
$(".test_plans.edit").ready(function () {
    console.log('Test Plans Edit JS Ready');

    // select2 multiselect for projects
    jQuery('#test_projects').select2({
      width: '100%' ,
      allowClear: true,
      dropdownAutoWidth : true
    }).on("change", function(e) {
        setAlertForSaveButton()
    });


    // init conditions builder
    var fields = [
        {label: "Duration", name: "duration", operators: [
            {label: "includes", name: "includes", fieldType: "text"},
            {label: "matches", name: "matchesRegexp", fieldType: "text"},
            {label: "is present", name: "present", fieldType: "none"},
            {label: "is blank", name: "blank", fieldType: "none"},
            {label: "is equal to", name: "equalTo", fieldType: "text"},
            {label: "is not equal to", name: "notEqualTo", fieldType: "text"},
            {label: "is less than", name: "lessThan", fieldType: "text"},
            {label: "is less than or equal to", name: "lessThanEqual", fieldType: "text"},
            {label: "is greater than", name: "greaterThan", fieldType: "text"},
            {label: "is greater than or equal to", name: "greaterThanEqual", fieldType: "text"}
        ]},
        {label: "Exit status", name: "exitstatus", operators: [
            {label: "includes", name: "includes", fieldType: "text"},
            {label: "matches", name: "matchesRegexp", fieldType: "text"},
            {label: "is present", name: "present", fieldType: "none"},
            {label: "is blank", name: "blank", fieldType: "none"},
            {label: "is equal to", name: "equalTo", fieldType: "text"},
            {label: "is not equal to", name: "notEqualTo", fieldType: "text"},
            {label: "is less than", name: "lessThan", fieldType: "text"},
            {label: "is less than or equal to", name: "lessThanEqual", fieldType: "text"},
            {label: "is greater than", name: "greaterThan", fieldType: "text"},
            {label: "is greater than or equal to", name: "greaterThanEqual", fieldType: "text"}
        ]},
        {label: "Output", name: "output", operators: [
            {label: "includes", name: "includes", fieldType: "text"},
            {label: "matches", name: "matchesRegexp", fieldType: "text"},
            {label: "is present", name: "present", fieldType: "none"},
            {label: "is blank", name: "blank", fieldType: "none"},
            {label: "is equal to", name: "equalTo", fieldType: "text"},
            {label: "is not equal to", name: "notEqualTo", fieldType: "text"},
            {label: "is less than", name: "lessThan", fieldType: "text"},
            {label: "is less than or equal to", name: "lessThanEqual", fieldType: "text"},
            {label: "is greater than", name: "greaterThan", fieldType: "text"},
            {label: "is greater than or equal to", name: "greaterThanEqual", fieldType: "text"}
        ]},
        {label: "Error Output", name: "error", operators: [
            {label: "includes", name: "includes", fieldType: "text"},
            {label: "matches", name: "matchesRegexp", fieldType: "text"},
            {label: "is present", name: "present", fieldType: "none"},
            {label: "is blank", name: "blank", fieldType: "none"},
            {label: "is equal to", name: "equalTo", fieldType: "text"},
            {label: "is not equal to", name: "notEqualTo", fieldType: "text"},
            {label: "is less than", name: "lessThan", fieldType: "text"},
            {label: "is less than or equal to", name: "lessThanEqual", fieldType: "text"},
            {label: "is greater than", name: "greaterThan", fieldType: "text"},
            {label: "is greater than or equal to", name: "greaterThanEqual", fieldType: "text"}
        ]}
    ];

    // generate data for test_plan and all it's test_items
    var test_plan_<%= @test_plan.id %>_data = {};
    test_plan_<%= @test_plan.id %>_data['all'] = [];
    <% @test_plan.quality_criteria.each do |criterion| %>
        test_plan_<%= @test_plan.id %>_data['all'].push({name: '<%= criterion.attr %>', operator: '<%= criterion.operator %>', value: '<%= criterion.value %>', id: '<%= criterion.id %>' });
    <% end %>


    <% @test_plan.test_items.each do |item| %>
        var test_item_<%= item.id %>_data = {};
        test_item_<%= item.id %>_data['all'] = [];
        <% item.quality_criteria.each do |criterion| %>
            test_item_<%= item.id %>_data['all'].push({name: '<%= criterion.attr %>', operator: '<%= criterion.operator %>', value: '<%= criterion.value %>', id: '<%= criterion.id %>' });
        <% end %>
    <% end %>

    // init conditionsbuilder
    jQuery("#criteria_builder").conditionsBuilder({fields: fields, data: test_plan_<%= @test_plan.id %>_data});
    //<% @test_plan.test_items.each do |item| %>
    //    jQuery("#criteria_builder_<%= item.id %>").conditionsBuilder({fields: fields, data: test_item_<%= item.id %>_data});
    //<% end %>
});
</script>

<% content_for :page_header do %>
  <h3>
    <%= badge_label @test_plan, {:label_class => 'primary'} %>
    <span class="btn-group btn-group-sm pull-right">
    <%= link_to 'Delete', @test_plan, :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-default' %>
    <%= link_to 'Show', @test_plan, :class => 'btn btn-default' %>
    <%= link_to ' Save', 'javascript:void(0)', :class => 'btn btn-default save' %>
    </span>
  </h3>
<% end %>

<div class="row">
  <!-- left column -->

  <%= form_tag(test_plan_path(@test_plan), method: 'put', class: "form-horizontal", name: 'test_plan', role: 'form') do %>
  <div class="col-md-8">
    <h4 class="spacer">Test Plan</h4>
    <div class="panel panel-default">
      <div class="panel-body">

        <%= raw htmlform_for @test_plan, {:html_class => 'spacer', :nested => true, :except => [:id, :user_id, :slug, :created_at, :updated_at] } %>

        <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Projects</label>
            <div class="col-md-6">
            <select id="test_projects" name="test_plan[projects][]" multiple>
              <option value="AL">Alabama</option>
              <option value="WY">Wyoming</option>
            </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        </fieldset>

        <div class="form-group">
          <label class="col-md-4 control-label">Test Items</label>
          <div class="col-md-8">
            <div class="dropzone">
              <ol class="test_items list-unstyled circles-list">
                <%# fill in test_plan_items %>
                <% if @test_plan.test_plan_items.count > 0 %>
                    <li class="placeholder">Drop items here</li>
                    <% @test_plan.test_plan_items.each do |item| %>
                        <li class="list-group-item ui-draggable ui-draggable-handle" data-id="<%= item.id %>" data-<%= item.test_item.class.to_s.underscore %>_id="<%= item.test_item.id %>">
                            <span class="actions pull-right">
                              <i class="drag fa fa-arrows"></i>
                              <!--<i class="add fa fa-plus" title="Add"></i>-->
                            </span>
                          <%= link_to badge_label(item.test_item, {:label_class => 'primary'}), item.test_item %>
                        </li>
                    <% end %>
                <% else %>
                    <li class="placeholder">Drop items here</li>
                <% end %>
              </ol>
            </div>
          </div>
        </div>

      </div>
    </div>

    <h4 class="spacer">Quality Criteria</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <%= badge_label @test_plan, {:label_class => 'primary'} %>
            <hr>
            <div id="criteria_builder"></div>
          </li>
          <!--<% @test_plan.test_items.each do |item| %>
          <li class="list-group-item">
            <%= badge_label item, {:label_class => 'primary'} %>
            <div id="criteria_builder_<%= item.id %>"></div>
          </li>
          <% end %>-->
        </ul>
      </div>
    </div>
  </div><!-- end left column -->
  <% end %> <!-- end form_tag -->

  <!-- right column -->
  <div class="col-md-4">
    <%= render 'test_item_browser' %>
  </div>

</div>




