<% javascript 'webtest' %>

<div class="row">

  <div class="col-md-8">
    <h3>
      Create a new test plan
      <span class="btn-group pull-right">
        <%= link_to ' Save', 'javascript:void(0)', :class => 'btn btn-default save' %>
      </span>
    </h3>
    <div class="panel panel-default spacer">
      <div class="panel-body">
        <%= form_tag(test_plans_path, method: 'post', class: "form-horizontal", name: 'test_plan', role: 'form') do %>
          <%= raw htmlform_for @test_plan, {:nested => true, :only => [:name, :description, :base_url]} %>

            <div class="form-group">
              <label class="col-md-4 control-label">Test Item</label>

              <div class="col-md-8">
                <div class="dropzone">
                    <ol class="test_items list-unstyled circles-list">
                      <li class="placeholder">Drop items here</li>
                    </ol>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>

  </div>

  <!-- right column-->
  <div class="col-md-4">
    <h3>Test Items</h3>

    <div class="panel panel-default spacer">
      <div class="panel-body">
        <div class="form-group">
        <input id="searchinput" class="form-control" type="search" placeholder="Filter..." />
      </div>
        <%= render 'test_item_browser' %>
      </div>
    </div>

    <h3>Test Data</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'shared/upload_form' %>
      </div>
    </div>

  </div>



</div>