<% content_for :page_header do %>
    <h3>
        <%= badge_label @test_plan, {:label_class => 'primary'} %>
        <span class="pull-right">
        <%= render partial: 'controls' %>
        </span>
    </h3>
<% end %>

<div class="row">

  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <%= render 'shared/test_projects', projects: @test_plan.test_projects.collect{ |tp| tp.project }.flatten %>
    <%= render 'shared/recent_test_executions', test_executions: TestPlan.recent_executions(@test_plan, 5) %>
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">

    <div class="panel panel-default spacer">
      <div class="panel-body">
        <blockquote>
          <p>
            <%= @test_plan.description %>
          </p>
        </blockquote>
        <%= render partial: 'shared/test_plan', locals: {tp: @test_plan} %>
      </div>
    </div>

    <!-- quality criteria -->
    <% if @test_plan.quality_criteria.any? or @test_plan.test_plan_items.collect{ |tpi| tpi.quality_criteria }.flatten.any? %>
        <h4>Success Criteria</h4>
        <div class="well">
          <%= render 'quality_criteria', test_plan: @test_plan %>
        </div>
    <% end %>

  </div>

</div>






