<% disable_turbolinks! %>
<% javascript('webtest') %>

<div class="row">


  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <%= render partial: 'execution_input' %>
    <%= render partial: 'shared/recent_test_executions' %>
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">
    <div class="page-header">
      <%= raw badge "TestPlan-#{@test_plan.id}", 'primary' %>
      <%= @test_plan.name %>
    </div>

    <div class="panel panel-default spacer">
      <div class="panel-body">
        <blockquote>
          <p>
            <%= @test_plan.description %>
          </p>
        </blockquote>
        <%= render partial: 'shared/test_plan', locals: {tp: @test_plan} %>
      </div>
    </div>


    <% if @test_plan.quality_criteria.any? %>
        <h3>Quality Criteria</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <% @test_plan.quality_criterias.each do |criteria| %>
                <%= criteria.inspect %>
            <% end %>
          </div>
        </div>
    <% end %>

  </div>

</div>






