<% javascript('webtest') %>

<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <h3>
      <button class="btn btn-default btn-success pull-right run_test_plan" data-id="<%= @test_plan.id %>">
        <i class="glyphicon glyphicon-play-circle"></i>
        Run now
      </button>
      <%= raw badge "TestPlan", 'primary' %>
      <%= @test_plan.name %>
    </h3>

    <div class="panel panel-default spacer">
      <div class="panel-body">
        <blockquote><p><%= @test_plan.description %></p></blockquote>
        <%= render partial: 'shared/test_plan', locals: { tp: @test_plan } %>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="col-md-4">
    <%= render partial: 'shared/recent_test_executions' %>
  </div>

</div>






