<% disable_turbolinks! %>
<% javascript('webtest') %>

<div class="row page-header">
<h3>
    <%= raw badge "TestPlan-#{@test_plan.id}", 'default' %>
    <%= @test_plan.name %>
    <span class="pull-right">
    <%= render partial: 'controls' %>
    </span>
</h3>
</div>

<div class="row">


  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <%= render partial: 'shared/recent_test_executions' %>
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">

    <div class="panel panel-default spacer">
      <div class="panel-body">
        <blockquote>
          <p>
            <%= @test_plan.description %>
          </p>
        </blockquote>
        <%= render partial: 'shared/test_plan', locals: {tp: @test_plan} %>
      </div>
    </div>

    <%# TODO cleanup print all criteria of test_plan and it's test_item's %>
    <% if @test_plan.quality_criteria.any? %>
        <h3>Quality Criteria</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Test Plan</h4>
            <% @test_plan.quality_criteria.each do |criteria| %>
                <div class="well">
                  <%#= criteria.inspect %>
                  <span class="label label-primary"><%= criteria.qualifiable_type %>-<%= criteria.qualifiable_id %></span>
                  <span class="label label-info"><%= criteria.attr %></span> shall be
                  <span class="label label-default"><%= criteria.operator %></span>
                  <span class="label label-info"><%= criteria.value %></span>
                </div>
            <% end %>
            <% @test_plan.test_items.each do |test_item| %>
                <% if test_item.quality_criteria.any? %>
                    <h4>Test Items</h4>
                    <% test_item.quality_criteria.each do |criteria| %>
                        <div class="well">
                          <%#= criteria.inspect %>
                          <span class="label label-primary"><%= criteria.qualifiable_type %>-<%= criteria.qualifiable_id %></span>
                          <span class="label label-info"><%= criteria.attr %></span> shall be
                          <span class="label label-default"><%= criteria.operator %></span>
                          <span class="label label-info"><%= criteria.value %></span>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>

  </div>

</div>






