<% disable_turbolinks! %>
<% javascript('webtest') %>

<div class="row page-header">
<h3>
    <%= raw badge "TestPlan-#{@test_plan.id}", 'default' %>
    <%= @test_plan.name %>
    <span class="pull-right">
    <%= render partial: 'controls' %>
    </span>
</h3>
</div>

<div class="row">


  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <%= render partial: 'shared/recent_test_executions' %>
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">

    <div class="panel panel-default spacer">
      <div class="panel-body">
        <blockquote>
          <p>
            <%= @test_plan.description %>
          </p>
        </blockquote>
        <%= render partial: 'shared/test_plan', locals: {tp: @test_plan} %>
      </div>
    </div>

    <%# TODO cleanup print all criteria of test_plan and it's test_item's %>
    <% if @test_plan.quality_criteria.any? %>
        <h3>Quality Criteria <small>All of the following are true</small></h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Test Plan</h4>
            <ul class="list-group">
            <% @test_plan.quality_criteria.each do |criteria| %>
                <li class="list-group-item">
                  <strong><%= criteria.attr %></strong> shall be
                  <strong><%= criteria.operator %></strong>
                  <strong><%= criteria.value %></strong>
                </li>
            <% end %>
            </ul>
            <h4>Test Items</h4>
            <% @test_plan.test_items.each_with_index do |test_item,n| %>
                <% if test_item.quality_criteria.any? %>
                    <span class="item-number"><%= n+1 %></span>
                    <%= badge_label test_item, {:label_class => 'default'} %>
                    <ul class="list-group">
                    <% test_item.quality_criteria.each do |criteria| %>
                        <li class="list-group-item">
                          <strong><%= criteria.attr %></strong> shall be
                          <strong><%= criteria.operator %></strong>
                          <strong><%= criteria.value %></strong>
                        </li>
                    <% end %>
                    </ul>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>

  </div>

</div>






