<% javascript('webtest') %>

<div class="row">
  <!-- left column -->
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <button class="btn btn-default btn-success pull-right" id="run_test_plan" data-id="<%= @test_plan.id %>">
            <i class="glyphicon glyphicon-play-circle"></i>
            Run now
          </button>
          <%= @test_plan.name %>
          <small><%= @test_plan.description %></small>
        </h3>

      </div>
      <div class="panel-body">
        <%= render partial: 'shared/test_plan', locals: { tp: @test_plan } %>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="col-md-4">
    <%= render partial: 'shared/recent_test_executions' %>
  </div>

</div>






