<% javascript('webtest') %>

<div class="row">


  <!-- right column, top column when mobile -->
  <div class="col-md-4 col-md-push-8">
    <%= render partial: 'execution_input' %>
    <!--<%= render partial: 'shared/recent_test_executions' %>-->
  </div>

  <!-- left column, top column when mobile -->
  <div class="col-md-8 col-md-pull-4">
    <h3>
      <%= render partial: 'controls' %>
      <%= raw badge "TestPlan", 'primary' %>
      <%= @test_plan.name %>
    </h3>

    <div class="panel panel-default spacer">
      <div class="panel-body">
        <blockquote>
          <p>
            <%= @test_plan.description %>
          </p>
        </blockquote>
        <%= render partial: 'shared/test_plan', locals: {tp: @test_plan} %>
      </div>
    </div>
  </div>

</div>






