<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Openmetrics", root_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <!-- search bar-->
      <form class="navbar-form navbar-left" id="main-search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <!-- loading indicator -->
      <%#= image_tag 'ajax-loader.gif', {:id => 'loading-indicator'} %>
      <i id="loading-indicator" class="fa fa-spinner fa-spin"></i>

      <!-- right sided nav menu -->
      <ul class="nav nav-pills pull-right">
        <!-- home link -->
        <li><%= link_to raw('<span class="glyphicon glyphicon-home"></span> ')+"Home", root_path %></li>

        <!-- inventory dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t("om.navigation.inventory") %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to t("om.navigation.activities"), activities_path %></li>
            <li><%= link_to t("om.navigation.systems"), systems_path %></li>
            <li><%= link_to t("om.navigation.services"), services_path %></li>
			<li><%= link_to t("om.navigation.webtests"), webtests_path %></li>
            <li><%= link_to raw('<span class="glyphicon glyphicon-cog pull-right"></span> ')+t('om.navigation.admin'), admin_path %></li>
            <!--<li><a href="#">Incidents</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          </ul>
        </li>

        <!-- space for some custom modules-->
        <!--<li><a href="#">A Module</a></li>-->
        <!--<li><a href="#">Other Custom Module</a></li>-->

        <!-- events link -->
        <!--<li><%= link_to raw('Events <span class="badge">42</span>'), root_path %></li>-->

        <!-- profile & logoff link-->
        <% if user_signed_in? %>
            <li>
              <%= link_to raw(gravatar_image_tag(current_user.email, :class => "gravatar-s", :gravatar => {:size => 16})) + current_user.username,
                          current_user %>
            </li>
            <!--<li><a href="/admin"><span class="glyphicon glyphicon-cog"></span> Admin Area</a></li>-->
            <!--<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>-->
            <li><%= link_to raw('<span class="glyphicon glyphicon-off"></span> ' + t('om.navigation.logoff')),
                            destroy_user_session_path, {:method => :delete} %>
            </li>
        <% else %>
            <li><%= link_to 'Sign in.', new_user_session_path %></li>
        <% end %>


      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


