<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:page_title) %>
        <%= yield :page_title %>
    <% else %>
        Openmetrics
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :additional_js %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
</head>
<body <%= yield :body_tags %> class="<%= controller_name %> <%= action_name %>">
    <%= render "layouts/header" %>
    <%= render "layouts/breadcrumbs" %>

    <div class="container">
        <%= render "layouts/notifications" %>
        <% if content_for?(:page_header) %>
            <div class="page-header">
              <%= yield :page_header %>
            </div>
        <% end %>
        <%= yield %>
        <%= link_to_top! %>
    </div>
</body>
</html>
