<!DOCTYPE html>
<html>
<head>
  <title>Openmetrics</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "_startpage.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>
<%= render "layouts/notifications" %>
    <div class="container <%= controller.controller_name %> <%= controller.action_name %>">
      <div class="row">
          <div class="center-block">
            <%= yield %>
        </div>
    </div>
    </div>
</body>
</html>
